body {
  background: linear-gradient(to top right, rgb(0,0,0,0.5), rgb(255,255,255,0.6));
  font-family: 'Cambria';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1224px;
  height: 1024px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style: none;
  margin: 1rem;
  padding: 0.5rem;
}
input {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

input:hover {
  box-shadow: 5px 5px 1rem black;
}

button {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

button:hover {
  box-shadow: 5px 5px 1rem black;
}

select {
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

select:hover {
  box-shadow: 5px 5px 1rem black;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid ;
  border-radius: 20px;
  box-shadow: 5px 5px 1rem black;
  gap: 0.3rem;
  flex-basis: 30%;
  background: linear-gradient(to top, rgb(0,0,0,0,0.8), rgb(255,255,255,0.5));
}

.todo-item {
  margin: 10px;
  padding: 5px;
  /* display: flex; */
  gap: 1rem;
}
